.color {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 24% 15%,
    rgba(48, 128, 191, 1) 31%,
    rgba(239, 255, 255, 1) 100%,
    rgba(223, 239, 255, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 24% 15%,
    rgba(48, 128, 191, 1) 31%,
    rgba(239, 255, 255, 1) 100%,
    rgba(223, 239, 255, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 24% 15%,
    rgba(48, 128, 191, 1) 31%,
    rgba(239, 255, 255, 1) 100%,
    rgba(223, 239, 255, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 24% 15%,
    rgba(48, 128, 191, 1) 31%,
    rgba(239, 255, 255, 1) 100%,
    rgba(223, 239, 255, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 24% 15%,
    rgba(48, 128, 191, 1) 31%,
    rgba(239, 255, 255, 1) 100%,
    rgba(223, 239, 255, 1) 100%
  );
}
